@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 400;
}

body {
  background-color: rgb(62, 24, 57);
  background-image: url(/assets/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

kbd {
  font-size: 2rem;
  background-color: rgb(62, 24, 57);
  padding: 0.25rem 0.5rem;
  border: 1px solid white;
  border-radius: 0.25rem;
  font-family: "Cutive Mono", monospace;
}

footer {
  width: 100%;
  text-align: center;
  font-weight: 300;
  padding: 0.5rem 0;
}

footer > a {
  color: thistle;
}

footer svg {
  height: 15px;
  fill: white;
}

.container-keys {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 16px;
  width: 100%;
  flex: 1;
}

.key {
  display: flex;
  flex-flow: column nowrap;
  border: 0.0625rem solid white;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 0px 2px #ffffff;
  justify-content: center;
  align-items: center;
  background-color: rgba(88, 15, 79, 0.8);
  padding: 0.5rem;
  gap: 0.5rem;
  width: 90px;
  height: 100px;
  transition: all 0.2s;
}

.playing {
  transform: scale(1.2);
  border-color: gold;
}
